#test======
requests~=2.25.1
selenium
Appium-Python-Client
pytest
kafka-python
redis
pymysql
pyyaml
parameterized~=0.8.1


#common=======
openpyxl
pdfminer
XlsxWriter
pandas~=1.4.2
django==2.2.6
pyinstaller
jsonpath

#data anynizes=====
matplotlib
numpy
Scipy

#pachong=====
scrapy
pyspider

#pic====
pillow
scikit-image

# websocket-client
#elasticsearch
#pyftpdlib
#plumbum

#dwebsocket
# psycopg2-binary
# xpinyin

# https://pypi.tuna.tsinghua.edu.cn/simple

# eg: pip install -i https://pypi.tuna.tsinghua.edu.cn/simple cx-Oracle --trusted-host pypi.tuna.tsinghua.edu.cn

colorama~=0.4.4
Jinja2~=2.11.3
ddt~=1.4.4